* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Josefin Sans', sans-serif;
    color: #42455a;
  }
  html body{
      width: 100%;
      height: 100%;
  }

/* theme colors */

.primary{
    background-color: aquamarine;
}
.secondary{
    background-color: cadetblue;
}

.dark {
    color: #42455a;
}
.highlight {
    color: cadetblue;
}

/* this is for all the button */
.anc-btn{
    text-decoration: none;
    color: #42455a;
    background: aquamarine;
    padding: 14px 30px;
    margin: 30px;
    
}
.btn {
    border: none; /* Remove borders */
    color: #444444; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
  }

/* hero section starts here */
.container{
    width: 100%;
    height: 100%;
}
/* Create two equal columns that floats next to each other */
.hero-column {
    float: left;
    width: 50%;
    padding: 40px;
    /* margin: 10px; */
    /* background-color: rgb(255, 246, 234); */
    height: 100%; /* Should be removed. Only for demonstration */
  }
.hero-img-div{
    width: 400px;
    /* margin: 0 -50px; */
    text-align: center;
}

.hero-img{
    width: 800px;
    margin: 20px;
}
.hero-row{
    width: 100%;
    height: 100%;
    top: 25%;
    margin: 20px 30px 20px 0;
    /* left: 430px; */
}

.hero-text{
    padding: 5px 30px 0 30px;
}

.hero-h1{
    font-size: 60px;
}
.hero-h2{
    font-size: 30px;
}
.hero-p{
    font-size: 20px;
    width: 75%;
}

.hero-btn {
    margin-left: 30px;
}

.quick-navigation{
    left: 0;
    bottom: 0;
    position: absolute;
    margin-bottom: 0px;
    padding-right: 80px;
    /* background: darkturquoise; */
    background: linear-gradient(15deg, rgb(0, 104, 112),aquamarine);
    /* background: linear-gradient(15deg,  darkseagreen, rgb(0, 129, 131)); */
    border-radius: 0 20px 20px 0;
    border-left: 20px solid rgb(0, 133, 138);
}

.quick-navigation ul{
    display: inline-flex;
    margin: 50px, auto;
    text-align: center;
}
.quick-navigation ul li{
    list-style: none;
    margin: 40px 50px;
    cursor: pointer;
    font-size: 20px;
}
.quick-navigation ul li a{
    text-decoration: none;
    color: azure;
}
/* hero section ends here */

/* project section starts here */
.project{
    background-color: rgb(220, 253, 255);
    width: 100%;
    height: 800px;
}

.card-header h1{
    padding-top: 80px;
    font-size: 60px;
}
/* Float four columns side by side */

.column {
    float: left;
    /* width: 33.3%; */
    width: 610px;
    padding: 0 10px;
    margin-left: 20px;
  }
  .row {margin: 0 -5px;}
  
  /* this wasn't include in the lecture, but i had to add this otherwise it wont work */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  /* Style the project cards */
  .project-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
  }

  .project-card img{
    width: 520px;
    margin-bottom: 10px;
  }
  .project-card h1{
    font-size: 50px;
    margin-bottom: 10px;
  }
  .project-card p{
    font-size: 15px;
    text-align: justify;
    width: 500px;
    padding-left: 30px;
    margin-bottom: 10px;
  }

  .card-header{       /* it's for both blog header and project header */
      text-align: center;
  }
/* test blog  */
.blog-cards{
    /* background-color: cornsilk; */
    width: 100%;
    height: 900px;
    margin-bottom: 30px;
}

.blog-column {
    float: left;
    width: 48%;
    /* width: 610px; */
    padding: 0 10px;
    margin-left: 20px;
    margin-bottom: 50px;
  }
.blog-t-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
  }

  .blog-t-card img{
    width: 820px;
    margin-bottom: 10px;
    height: 35rem;
  }
  .blog-t-card h1{
    font-size: 50px;
    margin-bottom: 10px;
  }
  .blog-t-card p{
    font-size: 15px;
    text-align: justify;
    width: 95%;
    padding-left: 30px;
    margin-bottom: 10px;
  }

  .card-header{
      text-align: center;
  }

  .blog-tags{
    padding: 0 35px 15px 35px;
    /* margin: 0 50px 0 30px; */
}

.blog-tag{
    text-decoration: none;
    color: rgb(0, 29, 54);
    border: 1px solid darkcyan;
    text-align: center;
    text-transform: uppercase;
    padding: .5rem 1.5rem;
    
}
.blog-content{
    padding: 05px 10px;
    border-bottom: 5px solid darkcyan;
}
/* blog end */

/* work inquiry section starts here */
.work-banner{
    background: linear-gradient(15deg, rgb(141, 255, 217),rgb(214, 253, 255));
}
.w-b-container{
    background-image: url("./img/work.png");
    background-repeat: no-repeat;
    width: 906px;
    height: 225px;
    margin: 200px 500px;
    display: inline-block;
    background-size: cover;    
}
.work-text-div{
    width: 50%;
    float: left;
    line-height: 69px;

}
.work-text-div h2{
    font-size: 50px;
    font-weight: 900;
    color: white;
    margin-left: 40px;
    line-height: 150px;
}
.work-btn-div{
    width: 50%;
    float: left;
    line-height: 225px;
}

.work-btn{
    text-decoration: none;
    background: aquamarine;
    padding:20px 30px;
    color: #42455a;
    font-weight: 500;
    border-radius: 5px;
    margin-left: 50%;
    line-height: -50px;
}

/* work inquiery section ends */

/* social section starts here */
.social
{
    text-align: center;
    
    color: #363958; 
    font-size: 20px;
}
.social-icon{
    width: 2%;
}
/* social section ends here */

/* footer start */
footer{
    text-align: center;
}
/* footer end */